<a href="https://colab.research.google.com/github/G1A021037-ANJASFEDO/Statistik-Terapan/blob/main/037_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Menampilkan Dataset

In [17]:
#Menampilkan Dataset
import pandas as pd
import numpy as np

Data_Set = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00571/hcvdat0.csv';
#Dataset Diambil dari link 
#Dataset High Conservation Value (HCV) atau Nilai Konservasi Tinggi (NKT) berisi hasil pemeriksaan terhadap pasien 

df = pd.read_csv(Data_Set, na_values=['?'])
df.head(5)
#Menampilkan 5 Data Teratas Pada Dataset

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

Informasi Berapa Missing Value Pada Dataset

In [18]:
#Menampilkan Berapa Missing Values Pada Dataset
df.isna().sum()

Unnamed: 0     0
Category       0
Age            0
Sex            0
ALB            1
ALP           18
ALT            1
AST            0
BIL            0
CHE            0
CHOL          10
CREA           0
GGT            0
PROT           1
dtype: int64

Metode Drop/Hapus/Remove

In [19]:
#Menangani Misiing Value Dengan Metode Drop
df.dropna(inplace=True)
df.isna().sum()

Unnamed: 0    0
Category      0
Age           0
Sex           0
ALB           0
ALP           0
ALT           0
AST           0
BIL           0
CHE           0
CHOL          0
CREA          0
GGT           0
PROT          0
dtype: int64

Metode Imputation

In [21]:
#Menangani Missing Value Dengan Metode Imutation Median
df["ALP"] = df["ALP"].replace(np.NaN, df["ALP"].median())
df.isna().sum()

Unnamed: 0    0
Category      0
Age           0
Sex           0
ALB           0
ALP           0
ALT           0
AST           0
BIL           0
CHE           0
CHOL          0
CREA          0
GGT           0
PROT          0
dtype: int64

In [22]:
#Menangani Missing Value Dengan Metode Imutation Mean
df["ALP"] = df["ALP"].replace(np.NaN, df["ALP"].mean())
df.isna().sum()

Unnamed: 0    0
Category      0
Age           0
Sex           0
ALB           0
ALP           0
ALT           0
AST           0
BIL           0
CHE           0
CHOL          0
CREA          0
GGT           0
PROT          0
dtype: int64

In [27]:
#Menangani Missing Value Dengan Metode Imutation Modus
modus = df['ALP'].mode()[0]
df['ALP'] = df['ALP'].fillna(modus)
df['ALP'].isna().sum()
df.isnull().sum()

Unnamed: 0    0
Category      0
Age           0
Sex           0
ALB           0
ALP           0
ALT           0
AST           0
BIL           0
CHE           0
CHOL          0
CREA          0
GGT           0
PROT          0
dtype: int64

Menampilkan Dataset Setelah Dihandling

In [30]:
#Dataset Setelah Dihandling
df.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7